body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(44, 131, 213);
    text-align: center;
    margin: 50px;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
    background-color: rgb(255, 255, 248);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
}

label {
    display: block;
    margin-right: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}